<div class="container">
  <nav class="navbar navbar-default" role="navigation">
    <ul class='nav navbar-nav'>
      <li>{{#link-to 'posts'}}Posts{{/link-to}}</li>
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>

    </ul>
  </nav>

  <h1>About Dracula</h1>

  <p>Count Dracula is the title character and primary antagonist of Bram Stoker's 1897 Gothic horror novel Dracula.</p>
</div>
